@model Garage_Management.DTO.CustomerPermissionDTO

@{
    ViewData["Title"] = "Edit";
}
@using Microsoft.AspNetCore.Http
@{
    int userid = Convert.ToInt32(Context.Request.Query["userid"]);
    int? id = Convert.ToInt32(Context.Request.Query["id"]);
}
<h1>Edit</h1>

<h4>Permission</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-userid="@userid" asp-route-id="@id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="PermissionId" />
            <input type="hidden" asp-for="UserId" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" readonly />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" readonly />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanView" class="control-label"></label>
                <select asp-for="CanView" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="CanView" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CanEdit" class="control-label"></label>
                <select asp-for="CanEdit" class="form-control">
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
                <span asp-validation-for="CanEdit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-userid="{0}" >Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
