@{
    ViewData["Title"] = "Permissions";
}
@using Microsoft.AspNetCore.Http
@{
    int userid = Convert.ToInt32(Context.Request.Query["userid"]);
    int? id = Convert.ToInt32(Context.Request.Query["id"]);
}

<div class="text-center">
    <h1>Permissions</h1>
    <div>
        <a asp-controller="Permissions" asp-action="Index" asp-route-userid="@userid">C</a>
    </div>
</div>
